footer{
	position: relative;
	top: 20px;
 	clear: both;
 	height: 125px;
 	display: block;
 	margin-top: 20px;
 	background-color:#625B57;
 }
 
 footer div.left_1{
 	margin-left: 200px;
 	margin-top: 10px;
 	float: left;
 }
 
 footer div.left_1 ul{
  	padding: 0;
  	margin: 0;
  }
 footer div.left_1 ul li{
 	list-style: none;
 }
 footer div.left_1 ul li a{
 	list-style: none;
 	font-family:"微软雅黑" ,"Microsoft YaHei",Tahoma,"宋体";
 	font-size: medium;
 	color: white;
 }
 
 footer div#desc{
 	clear: both;
 	font-family: "微软雅黑";
 	color:#A9A9A9;
 	position: relative;
 	top: 30px;
 	padding-top: 20px;
 	height: 50px;
 	background-color:#101010;
 }
