#ad{
	margin-top: -20px;
	width:100% ;
    height:700px;
	background-image: url("../../static/img/banner-1.jpg");
}
#ad div.text{
	font-family: "微软雅黑";
	font-size: 50px;
	color: white;
	position: relative;
	top: 500px;
	padding-left:560px;
}
#ad .search{
    width: 400px;
	height: 80px;
	position: relative;
	top: 525px;
	padding-left:550px;
}
#ad .choose{
	width: 300px;
}
#ad .choose ul li{
	list-style: none;
	font-family: "微软雅黑";
	font-size: medium;
	color: white;
	padding-right:20px ;
	float: left;
}
strong{
	font-family: "微软雅黑";
	font-size: 30px;
}


#container{
	margin-top: 20px;
	margin-left: 400px;
}
#container .t1{
	font-family: "微软雅黑";
	font-size: large;
	color:#808080;
}

#category{
	margin-top: 20px;
	margin-left: 200px;
}
#category .shehui{
	float: left;
	margin-right: 100px;
}
#category .xiaoyuan{
	float: left;
	margin-left: 100px;
}
#category .button1{
	margin-top: 20px;
	margin-left: 155px;
}
div.button1 a{
	width: 100px;
	height: 50px;
	padding:13px 12px 6px 12px;
}
#category .t2{
	font-family: "微软雅黑";
	font-size: large;
	padding-top: 20px;
	float: left;
 }
 #liucheng{
 	clear: both;
	width: 500px;
	position: relative;
	top: 40px;
}
#liucheng p{
	font-family: "微软雅黑";
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin: 20px 500px;
	width: 300px;
}

